@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  /* Primary Brand Color */
  --color-primary: #3B82F6;
  /* Updated to Blue to match gradient theme */

  /* Text Colors */
  --color-text-main: #111827;
  /* Gray 900 */
  --color-text-sub: #4B5563;
  /* Gray 600 */

  /* Base Backgrounds */
  --bg-base-100: #FFFFFF;
  --bg-base-200: #f4f5f9;

  /* Added Gradient from hero section */
  --gradient-hero: linear-gradient(135deg,
      #BBE8EC,
      #B4EAF0,
      #B6F0D4);

  /* Button Gradient from Image */
  --gradient-primary: linear-gradient(90deg, #3B82F6, #2DD4BF);
}


@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #00B4D8;

  /* Text Colors */
  --color-text-main: #F9FAFB;
  /* Gray 50 */
  --color-text-sub: #D1D5DB;
  /* Gray 300 */

  --bg-base-100: #0d131f;
  --bg-base-200: #0e1527;


  --gradient-hero: linear-gradient(135deg,
      #BBE8EC,
      #B4EAF0,
      #B6F0D4);

  /* Button Gradient from Image */
  --gradient-primary: linear-gradient(90deg, #3B82F6, #2DD4BF);
}



@theme {
  --background-image-gradient-all: var(--gradient-primary);
}

a.active {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}



/* input type number default arrow reset */
/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.hover-text-gradient {
  transition: color 0.2s ease;
}

.hover-text-gradient:hover,
.group:hover .group-hover-text-gradient {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-gradient {
  background: var(--gradient-primary);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  /* Often needed for clip to work on some elements */
}

.btn-gradient {
  background: var(--gradient-primary);
  color: white;
  border: none;
  transition: opacity 0.2s ease;
}

.btn-gradient:hover {
  opacity: 0.9;
}