@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  font-family: "Inter", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #D51F63;
  --bg-base-100: #FFFFFF; 
  --bg-base-200: #F3F4F6; 
  --bg-base-300: #E5E7EB; 
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #00B4D8; 
  --bg-base-100: #181825; 
  --bg-base-200: #232336;
  --bg-base-300: #2C2C3A; 
}


a.active {
  color: var(--color-primary);
}



/* input type number default arrow reset */
/* For Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}